body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
}

/* Centering */
.container {
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    height: 100vh;
}

/* Form Box */
.login-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Inputs */
.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;   /* spacing */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button */
.login-form button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background: #5a67d8;
}

/* Forgot link */
.forgot {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #555;
}

.forgot:hover {
    color: #000;
}